<div bsModal class=" row modal fade" #editCategorieModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="editCategorieModal"
     aria-hidden="true" (onHide)=" this.editCategorieForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="editCategorieForm">

    <form class="text-center border border-light p-5 " 
    [formGroup]="editCategorieForm"  >

      <p class="h4 mb-4">Edit Categorie</p>
      <input type="text"  class="form-control mb-4"  formControlName="numeCategorie" placeholder="Introdu numele" autocomplete="off">
      <input type="text"  class="form-control mb-4"  formControlName="specificatii" placeholder="Introdu specificatiile" autocomplete="off">
      <input type="text"  class="form-control mb-4"  formControlName="descriere" placeholder="Introdu descrierea" autocomplete="off">      
      <button mdbBtn color="danger" block="true" class="my-4"  [disabled]="editCategorieForm.invalid || editCategorieForm.pristine" (click)="editCategorie()">Edit</button>

    </form>

  </div>
</div>


