<head></head>

<body>
  <div class="about-section">
    <h1>Despre Noi</h1>
    <p>Echipa Lenscape.</p>
    <p>“Lenscape” se adresează tuturor
      pasionaților de fotografie, fie că sunt profesioniști sau la început de drum.
      De ce “Lenscape”? De ce nu?! Suntem mai mult decât un site de e-commerce, suntem
      o comunitate creată pentru a susține creativitatea și dorința oamenilor de a se exprima
      artistic prin fotografie. Oferim pe lângă o bază tehnică, consiliere pentru începători, cât
      și baza teoretică de care este nevoie pentru a aduce această pasiune la un alt nivel.<br></p>
      <h2 style="text-align:center">Echipa Noastra</h2>
  </div>
  
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://i.ibb.co/z5Bn549/Webp-net-resizeimage-1.jpg  " alt="Cristina" style="width:100%">
        <div class="container">
          <h2>Cristina</h2>
          <p class="title">Designer</p>
          <p>Sunt o persoană sociabilă, căreia îi place să lucreze în echipă. Sunt un
            bun mediator și îmi place să găsesc soluțiile optime pentru fiecare situație. Limbaje de
            programare cunoscute: C/C++, HTML, CSS, Python.<br><br><br></p>
          <p>cristina@lenscape.com</p>
          <p><button class="button" routerLink="/magazine">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://i.ibb.co/qYkGGKY/Webp-net-resizeimage-4.jpg" alt="Gabi" style="width:100%">
        <div class="container">
          <h2>Gabi</h2>
          <p class="title">Developer</p>
          <p>Pasionată de tehnologie, entuziasmată și responsabilă cu
            privire la orice proiect, îmi place să lucrez atât în echipă cât și singură, sa primesc
            feedback din partea celorlalți pentru a putea să mă autodepășesc. Tehnologiile cu care
            prefer să lucrez sunt: SQL, PL/SQL, Python, HTML, CSS, dar nu doar atât.</p>
          <p>gabi@lenscape.com</p>
          <p><button class="button" routerLink="/magazine">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://i.ibb.co/gFdKBj8/Webp-net-resizeimage-2.jpg" alt="Andreea" style="width:100%">
        <div class="container">
          <h2>Andreea</h2>
          <p class="title">CEO & Designer</p>
          <p>Fire perfecționistă, pun accentul pe detalii, iar pe lângă
            latura tehnică a lucrurilor, îmi place să o privesc și pe cea artistică. Mă consider o
            persoană ambițioasă, perseverentă, dornică să creez proiecte atât din punct de vedere
            creativ, cât și funcțional. Tehnologii cunoscute : HTML, CSS, JavaScript, SQL, Python.</p>
          <p>andreea@lenscape.com</p>
          <p><button class="button" routerLink="/magazine">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="https://i.ibb.co/VHrn89w/Webp-net-resizeimage.jpg" alt="Costea" style="width:100%">
          <div class="container">
            <h2>Alexandra</h2>
            <p class="title">HR & PR</p>
            <p>Activă și veselă în majoritatea timpului, încerc să ridic moralul
              oamenilor. Am o minte logică și practică. Am studiat mai multe limbaje de programare
              astfel încât să mă adaptez ușor. Printre cele pe care le-am folosit cel mai mult se
              găsesc: C, C++, Java, JavaScript, MySQL, HTML, CSS, Python.</p>
            <p>alexandra@lenscape.com</p>
            <p><button class="button" routerLink="/magazine">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="https://i.ibb.co/NpGScy9/Webp-net-resizeimage-3.jpg" alt="Laur" style="width:100%">
          <div class="container">
            <h2>Laurentiu</h2>
            <p class="title">QA</p>
            <p>Creez bucăți de software, cunoscute la modul general sub
              denumirea de “jocuri”, pentru a comunica idei care pot inspira, informa, sau captiva
              consumatorii. Limbaje de programare (preferate, dar nu mă limitez la asta): C#, C++,
              Java
            <br><br>
            </p>
            <p>laur@lenscape.com</p>
            <p><button class="button" routerLink="/magazine">Contact</button></p>
          </div>
        </div>
      </div>
  </div>
</body>