<div bsModal class=" row modal fade" #editMagazinModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="editMagazinModal"
     aria-hidden="true" (onHide)=" this.editMagazinForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="editMagazinForm">


    <form class="text-center border border-light p-5" [formGroup]="editMagazinForm"  >

      <p class="h4 mb-4">Edit Magazin</p>
      <input type="text"  class="form-control mb-4"   formControlName="nume" placeholder="Introdu numele" autocomplete="off">
      <input type="text"  class="form-control mb-4"   formControlName="adresa" placeholder="Introdu adresa" autocomplete="off">
      <button mdbBtn color="danger" block="true" class="my-4"  [disabled]="editMagazinForm.invalid || editMagazinForm.pristine" (click)="editMagazin()">Edit</button>

    </form>

  </div>
</div>


