<head>
    <link rel="shortcut icon" href="Images/favicon.png" type="image/png">
</head>
<body>
<h1>Contact</h1>
                <div class="row">
                    <div class="column">


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91160.56672518827!2d26.024597973154542!3d44.43792692053395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f93abf3cad4f%3A0xac0632e37c9ca628!2sBucharest!5e0!3m2!1sen!2sro!4v1589824587849!5m2!1sen!2sro" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<div class="column">
    <p>Lenscape -Aviatorilor:<br>Str. Charels de Gaulle nr. 13, Bucuresti, sector 1, Romania<br>
    Program:<br>
    Luni-Vineri: 8:30 - 20:30<br>
    Telefon: 0753876483<br><br></p>
    <p>Lenscape-Unirii:<br>
    Adresa: Bd. Unirii nr. 153, Bucuresti, sector 2, Romania<br>
    Program:<br>
    Luni-Vineri: 8:30 - 20:20<br>
    Telefon: 0753876482<br><br></p>
    <p>Lenscape-Drumu Taberei:<br>
    Adresa: Bd. Drumul Taberei nr. 15, Bucuresti, sector 3, Romania<br>
    Program:<br>
    Luni-Vineri: 8:30 - 16:20<br>
    Telefon: 0753876481<br><br></p>
</div>
</div>

<div id="formular">
    <form action=#>

        <div class="containerContact">
            <h3>Iti raspundem la orice intrebare!</h3>
            <input type="text" placeholder="Nume" name="nume" required>
            <input type="text" placeholder="Email" name="email" required>
            <input type="text" placeholder="Mesajul Tau" name="mesaj" required>
            <label>
                <input type="checkbox" checked="checked" name="subscribe">Newsletter
            </label>
        </div>



        <div class="containerContact">
            <input type="submit" value="Trimite">
        </div>
    </form>
    
</div>

<a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a>
<a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a>
<a href="https://www.google.com" class="fa fa-google" target="_parent"></a>
<a href="https://www.youtube.com" class="fa fa-youtube" target="_top"></a>
<a href="https://www.instagram.com" class="fa fa-instagram"></a>                
<a href="https://www.pinterest.com" class="fa fa-pinterest"></a>

</body>